@charset "UTF-8";

section {
	overflow: auto;
	text-align: center;
}

.middle_ul {
	list-style-type: none;
}

.middle_li {
	display: inline-block;
	box-shadow: 1px 1px;
	
}

.section_button {
	width: 76px;
	height: 76px;
	background-color: #669999;
	border: 0;
	outline: 0;
}

.section_button > a {
	color: white;
	text-decoration: none;
}

img {
	width: 500px;
	height: 350px;
}